<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.com" lang="pt">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/css/style.css}">

<title>String e Thymeleaf exemplos</title>

</head>
<body>

<button class="botao" type="button">Show Alert</button>


<div><span class="red">vermelho</span> </div>
<div><span class="blue">azul</span> </div>

Imagem
  <img th:src="@{/image/image.jpg}" alt="Minha Figura">




<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>