<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.com" lang="pt">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>String e Thymeleaf exemplos</title>
</head>
<body>

<label th:text="${pedido.total}"></label>


<div th:if="${pedido.total >= 0}"><span th:text="${'Valor positivo  ' + pedido.total}"></span></div>
<div th:unless="${pedido.total >= 0}"><span th:text="${'Valor negativo  ' + pedido.total}"></span> </div>


</body>
</html>